<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="css/Estilos.css">
</head>
<body>
    <div class="register-box">
        <img class="logos" src="Imagenes/logo_escuelitaa.png" alt="Logo de escuelita">
        <h1>Hola {{Nombre}} {{ApellidoP}} {{ApellidoM}}</h1>
        <form action="elegircarrera/" method="GET" >
            <!--Nombre y Apellido del Usuario E33-->
            <label for="CarreraS"> Selecciona tu Carrera por favor</label>
            <select name="CarreraS" id="CarreraS"> 
             <option value="Derecho">Derecho</option>
             <option value="Software">Software</option>
             <option value="Comercio">Comercio</option>
            </select>
            <input  type="submit" value="Elegir Carrera"> 
        </form>

    </div>
        
    </div>
       
</body>
</html>