<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegir Materias</title>
    <link rel="stylesheet" href="css/Estilos.css">
</head>
<body>
    <div class="register-box">
        <img class="logos" src="Imagenes/logo_escuelitaa.png" alt="Logo de escuelita">
        <h1>Hola Eder Elizalde Castro</h1>
    </div>
    <form action="GMaterias/" method="GET" >
        <!--Nombre y Apellido del Usuario E33-->
        <label for="CarreraS"> Materia 1</label>
        <select name="Materia1" id="Materia1"> 
         <option value={{M1}}>{{M1}}</option>
         <option value={{M2}}>{{M2}}</option>
         <option value={{M3}}>{{M3}}</option>
         <option value={{M4}}>{{M4}}</option>
         <option value={{M5}}>{{M5}}</option>
        </select>
        <label for="CarreraS"> Materia 2</label>
        <select name="Materia2" id="Materia2"> 
         <option value={{M1}}>{{M1}}</option>
         <option value={{M2}}>{{M2}}</option>
         <option value={{M3}}>{{M3}}</option>
         <option value={{M4}}>{{M4}}</option>
         <option value={{M5}}>{{M5}}</option>
        </select>
        <label for="CarreraS"> Materia 3</label>
        <select name="Materia3" id="Materia3"> 
         <option value={{M1}}>{{M1}}</option>
         <option value={{M2}}>{{M2}}</option>
         <option value={{M3}}>{{M3}}</option>
         <option value={{M4}}>{{M4}}</option>
         <option value={{M5}}>{{M5}}</option>
        </select>
        <label for="CarreraS"> Materia 4</label>
        <select name="Materia4" id="Materia4"> 
         <option value={{M1}}>{{M1}}</option>
         <option value={{M2}}>{{M2}}</option>
         <option value={{M3}}>{{M3}}</option>
         <option value={{M4}}>{{M4}}</option>
         <option value={{M5}}>{{M5}}</option>
        </select>
        <label for="CarreraS"> Materia 5</label>
        <select name="Materia5" id="Materia5"> 
         <option value={{M1}}>{{M1}}</option>
         <option value={{M2}}>{{M2}}</option>
         <option value={{M3}}>{{M3}}</option>
         <option value={{M4}}>{{M4}}</option>
         <option value={{M5}}>{{M5}}</option>
        </select>
        <input  type="submit" value="Agregar Materias"> 
    </form>

</body>
</html>