<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Escuelita</title>
    <link rel="stylesheet" href="css/IndexEstilos.css">
</head>
<body>
    <div class="login-box">
        <img class="logos" src="Imagenes/logo_escuelitaa.png" alt="Logo de escuelita">
        <h1>Iniciar Sesion</h1>
        <form action="register/" method="GET">
            <!--Correo del Usuario E33-->
            <label for="username">Correo</label>
            <input type="text" placeholder="Correo">  
            <!--Contraseña del Usuario-->
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Contraseña"> 
            <!--Boton para enviar datos-->
            <input type="submit" value="Iniciar Sesion"> 
            <!--Boton para crear una cuenta-->
            <a href="Register.html">  
                <input type="submit" value="Registrarse"/>  
            </a>
        </form>
    </div>
</body>
</html>