<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegir Materias</title>
    <link rel="stylesheet" href="css/Estilos.css">
</head>
<body>
    <div class="register-box">
        <img class="logos" src="Imagenes/logo_escuelitaa.png" alt="Logo de escuelita">
        <h1>Hola Eder Elizalde Castro</h1>
    </div>
    <form action="GMaterias/" method="GET" >
        <!--Nombre y Apellido del Usuario E33-->
        <label for="CarreraS"> Materia 1 calificacion</label>
        <input type="text" placeholder="calificacion1" name="calificacion1">
        <label for="CarreraS"> Materia 2 calificacion</label>
        <input type="text" placeholder="calificacion2" name="calificacion2">
        <label for="CarreraS"> Materia 3 calificacion</label>
        <input type="text" placeholder="calificacion3" name="calificacion3">
        <label for="CarreraS"> Materia 4 calificacion</label>
        <input type="text" placeholder="calificacion4" name="calificacion4">
        <label for="CarreraS"> Materia 5 calificacion</label>
        <input type="text" placeholder="calificacion5" name="calificacion5">
        <input  type="submit" value="Agregar Calificaciones"> 
    </form>

</body>
</html>